{% extends "base.html" %}

{% block content %}

<script src="/static/js/analysis/analysis_details.js"></script>

<h2>Детали анализа</h2>
<p><strong>Название промпта:</strong> <span id="promptName"></span></p>
<p><strong>Фильтры:</strong> <span id="filters"></span></p>
<p><strong>Текст анализа:</strong> <span id="analysisText"></span></p>
<p><strong>Число токенов:</strong> <span id="analysisTokens"></span></p>
<p><strong>Дата создания:</strong> <span id="timestamp"></span></p>

<button id="backButton" class="btn btn-secondary mt-4">Назад</button>

<div id="loadingIndicator" class="spinner-border text-primary" role="status" style="display:none;">
    <span class="visually-hidden">Загрузка...</span>
</div>

{% endblock %}
